* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    margin-top: 1rem;
    margin-bottom: 10px;
}

.coverSec.about {
    margin-top: -10px;
    padding-top: 1.25rem;
    width: 100%;
    height: 50%;
}

.coverVid {
    margin-top: 1.25rem;
    margin-left: 2rem;
    max-width: 70rem;
    border-radius: 5px;
}

@media screen and (max-width: 727px) {
    .coverVid{
        max-width: 25.9rem;
        margin: 2rem 0;
        height: 275px;
        margin-left: 0;
        padding: 0;
        object-fit: fill;
        outline: none;
        border-radius: 0;
    }

}
