.container.product {
    max-width: 100rem;
    margin-inline: auto;
    padding-inline: 2rem;
}

.tt-header {
    padding-bottom: 2rem;
}

.stacked {
    display: grid;
}

.stacked > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.product-grid {
    display: grid;
    gap: 6rem 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
    padding-bottom: 6.5rem;
}

.card {
    aspect-ratio: 1 / 1;
}

.card__img {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    cursor: pointer;
}

.card__title {
    font-size: 0.9rem;
    line-height: 1.1;
    color: #7C2F3F;
}

.card__price {
    font-size: 0.9rem;
}

.card__content {
    align-self: end;
    margin: -3rem 0rem;
}

@media (min-width: 60em){
    .product-grid {
        gap: 8.5rem 2rem;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }

    .card__img {
        aspect-ratio: 1 / 1;
    }

    .card__content {
        margin: -4rem 0rem;
    }

    .card__title {
        font-size: 1.25rem;
        line-height: 1.1;
        color: #7C2F3F;
    }
    
    .card__price {
        font-size: 1.25rem;
    }
    
}