.container.product {
    max-width: 100rem;
    margin-inline: auto;
    padding-inline: 2rem;
}

.tt-header {
    padding-bottom: 2rem;
}

.stacked {
    display: grid;
}

.stacked > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.product-grid {
    display: grid;
    gap: 6rem 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
    padding-bottom: 6.5rem;
}

.card {
    aspect-ratio: 1 / 1;
}

.card__img {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    cursor: pointer;
}

.card__title {
    font-size: 0.9rem;
    line-height: 1.1;
    color: #7C2F3F;
}

.card__price {
    font-size: 0.9rem;
}

.card__content {
    align-self: end;
    margin: -3rem 0rem;
}

/* ------- MODAL  -------*/

.modal {
    max-width: 100rem;
    width: 75rem;
    height: 33rem;
    margin: auto;
    z-index: 10;
    border: 0;
    border-radius: 3px;
}

.modal__container {
    display: flex;
}

#modal__close {
    position: absolute;
    top: 20px;
    left: 72.5rem;
    max-width: 1.5rem;
    cursor: pointer;
}

.modal::backdrop {
    background: rgba(0, 0, 0, .3)
}

.modal__slideshow-wrapper {
    margin: 1.75rem;
    width: 30.5rem;
    height: 26rem;
}

#modal__slideshow {
    border-radius: 5px;
    overflow: hidden;
    background: red;
}

.modal__slide {
    position: absolute;
    opacity: 0;
    
}

.active-anim {
    opacity: 1;
}

.modal__btn-slide {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: rgba(73, 73, 73, 0.5);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transition: 200ms all ease-in-out;
  }

#modal__slideshow:hover~.modal__btn-slide {
    opacity: 1;
}
  
.modal__btn-slide:hover {
    background: rgba(73, 73, 73, 0.7);
    opacity: 1;
}

.modal__btn-slide img {
    width: 30px;
    height: 30px;
    pointer-events: none;
}

.modal__btn-slide.prev {
    top: 52%;
    left: 4rem;
    transform: translateY(-60%);
}

.modal__btn-slide.next {
    top: 52%;
    right: 41.5rem;
    transform: translateY(-60%);
}

#modal__img {
    max-width: 34rem;
    border-radius: 5px;
}

.modal__content {
    margin-top: 2.5rem;
    margin-left: 4rem;
    align-items: center;
    justify-content: center;
    text-align: left;
    flex-wrap: wrap;
}

#modal__product {
    text-align: left;
    margin-top: 2rem;
}

#modal__price {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

#modal__desc {
    margin-top: 2rem;
    max-width: 33rem;
    font-size: 1.1rem;
}

#modal__inventory {
    color: #5C1C29;
    margin-top: 1.75rem;
}

#modal__size-container {
    margin-top: 0.75rem;
    max-width: 50rem;
    height: 3.5rem;
    display: flex;
    flex-wrap: wrap;
}

.modal__size-box {
    width: 60px;
    height: 100%;
    margin-right: 0.5rem;
    border-radius: 5px;
    border: 2px solid #D9D9D9;
    color: #2d2d2d;
    cursor: pointer;
}

.modal__size-box:hover {
    background-color: #7A1A2E;
    color: #FFFFFF;
}

.modal__size-box.oos {
    pointer-events: none;
    background-color: #EBEBEB;
    color: #B5B5B5;
}

#modal__size-text {
    font-weight: 500;
    font-size: 15px;
    margin: 1rem;
    text-align: center;
}

.modal__inventory-notice {
    font-weight: 500;
    font-size: 14px;
    margin-top: 1rem;
}

.modal__inventory-notice-box {
    display: none;
}



/* ----------------------- */

@media screen and (max-width: 727px) {
    .card__img {
        cursor: auto;
        pointer-events: none;
    }
}


@media (min-width: 60em){
    .product-grid {
        gap: 8.5rem 2rem;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }

    .card__img {
        aspect-ratio: 1 / 1;
    }

    .card__content {
        margin: -4rem 0rem;
    }

    .card__title {
        font-size: 1.25rem;
        line-height: 1.1;
        color: #7C2F3F;
    }
    
    .card__price {
        margin-top: 0.5rem;
        font-size: 1rem;
    }
    
}