* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    background-color: white;
    border-top: 1.75px solid rgb(218, 218, 218);
    position: relative;
    width: 100%;
    min-height: 350px;
    padding: 3rem 1rem;
}

.footer-container {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-row.copyr {
    margin-top: 2rem; 
}


.footer-col {
    min-width: 250px;
    color: #7C2F3F;
    padding: 0 2rem;
    min-height: 225px;
}

.footer-col h3, .footer-col p, .footer-col span {
    color: #7C2F3F;
}

.footer-col .footer-logo {
    width: 175px;
    margin-bottom: 1rem;
}

.footer-slogan {
    font-weight: 700;
}

.footer-col h3 {
    margin-bottom: 20px;
    position: relative;
}

.socials {
    margin-top: 1rem;
}

.social-icon {
    color: #7C2F3F;
    margin-right: 8px;
    transition: 300ms ease-in-out;
}

.social-icon.img {
    width: 30px;
}

.social-icon.img.tiktok {
    width: 28px;
}

.footer-links a, Link{
    display: block;
    text-decoration: none;
    color: #7C2F3F;
    margin-bottom: 5px;
    position: relative;
    transition: 300ms ease-in-out;
    font-weight: 600;
}

.footer-links a:before, Link:before {
    content: "";
    height: 16px;
    width: 3.5px;
    position: absolute;
    top: 3px;
    left: -10px;
    background-color: #7C2F3F;
    transition: 300ms ease-in-out;
    opacity: 0;
}

.footer-links a:hover::before, Link:hover::before {
    opacity: 1;
}

.footer-links a:hover, Link:hover {
    transform: translateX(-8px);
    color: #7C2F3F; 
}

.contact-details {
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.contact-icon {
    margin-right: 15px;
}

@media(max-width: 900px){
    .footer-row{
        flex-direction: column;
    }

    .footer-col {
        width: 100%;
        text-align: left;
        margin-bottom: -2.5rem;
    }

    #contact {
        margin-top: 4.5rem;
    }

    .social-icon {
        margin-right: 20px;
        transition: 300ms ease-in-out;
    }

}