.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
}

.dtg-header {
    color: #5c1c29;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.dtg-info {
    color: #232323;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-left: 10%;
    margin-right: 10%;
}

.dtg-contact {
    text-align: center;
    font-size: 1.1rem;
}

.dtg-order {
    font-size: 1.1rem;
    color: #7c2f3f;
    text-align: center;
    margin-bottom: 1rem;
}

.dtg-order a {
    color: #bc566b;
    text-decoration: none;
}

.dtg-images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 0;
}

.image-table {
    border-collapse: collapse;
    margin: 0 auto;
}

.header-box {
    margin-top: 3rem;
    background-color: #bc566b;
    color: white; 
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.header-box h1 {
    font-size: 2rem;
    margin: 0;
}


.image-table img {
    width: 100%;
    max-width: 450px;
    height: auto;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.dtg-disclaimer {
    color: #bc566b;
    text-align: center;
    font-size: 1.1rem;
    margin: 0.5rem 0;
}

@media (max-width: 768px) {
    .dtg-header {
        font-size: 1.5rem;
    }

    .dtg-info {
        font-size: 1rem;
        padding: 0 1rem;
    }

    .image-table img {
        max-width: 200px;
    }

    .dtg-contact,
    .dtg-order {
        font-size: 1rem;
    }

    .dtg-disclaimer {
        font-size: 0.8rem;
    }
}
