/*
CHECK THIS
margin-right: 7rem
or like 
padding-right: 3.5rem
padding-left: 3.5rem
*/

#changeSize {
    padding-right: 3.5rem;
    padding-left: 3.5rem;
}

.divider {
    border: 1px solid rgb(218, 218, 218);
    width: 100%;
    height: 1px;
    margin: 3.5rem 0;
}

.rol-header, b {
    color: #5c1c29;
}

.rol-info {
    margin: 25px;
    color: #232323;
    font-size: 1.1rem;
    align-items: center;
    text-align: center;
    -ms-flex-align: center;
    justify-content: center;
}

.rol-pricing-wrapper {
    margin: 0rem 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rol-pricing {
    max-width: 60rem;
}

.rol-contact, .rol-order {
    font-size: 1.1rem;
    color: #7C2F3F;
    margin: 1rem;
    text-align: center;
}

.rol-order {
    font-size: 1.3rem;
    margin: 2rem 2rem 0rem;
}

.rol-order a {
    color: #BC566B;
}

.rol-disclaimer {
    margin: 0.85rem 5rem;
    color: #BC566B;
    align-items: center;
    text-align: center;
    -ms-flex-align: center;
    justify-content: center;
    
    max-width: 60rem;
}

.rol-disclaimer1 {
    margin: 0.85rem 5rem;
    align-items: center;
    text-align: center;
    -ms-flex-align: center;
    justify-content: center;
    
    max-width: 50rem;
}

.limit-header {
    text-align: center;
    font-size: 1.7rem;
    margin: 1rem 10rem;
    margin-top: 2rem;
}

.limit {
    max-width: 60rem;
    text-align: left;
    line-height: 2rem;
    margin: 0rem 10rem;
    margin-bottom: 2rem;
}

.box-title {
    color: #7C2F3F;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.box-body {
    font-size: 1em;
    line-height: 1.5;
}

@media screen and (max-width: 727px) {
    .rol-pricing-wrapper {
        margin: 2rem 0;
        margin-bottom: 1.5rem;
    }

    .rol-pricing {
        max-width: 25rem;
    }

    .rol-info {
        width: 22rem;
        margin: 2rem;
        font-size: 1rem;
    }

    .rol-contact {
        margin: 2rem;
    }

    .rol-disclaimer {
        width: 22rem;
        margin: 2rem;
        margin-right: 1.75rem;
        margin-top: 0.5rem;
        font-size: 0.85rem;
    }

    .limit-header {
        margin-bottom: 1rem;
    }
}