* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tapIcon {
    position: relative;
    margin-top: -2.5rem;
    margin-left: 8.5rem;
    padding-bottom: 2rem;
    display: none;
}

section {
    margin-top: 1rem;
    margin-bottom: 10px;
}

.coverSec {
    margin-top: -10px;
}

.storySec, .portSec, .otherSec, .contactSec {
    width: 100%;
    height: 100%;
}

.storySec, .otherSec, .contactSec {
    height: 575px;
}

.contactSec {
    background-image: url("../../images/testSection.svg");
    object-fit: cover;
    object-position: center;
}

/* --- BANNNER --- */

.a-banner {
    background-color: #7C2F3F;
    padding: 5px 0;
    }

.a-banner-content {
    text-align: center;
    color: rgb(234, 234, 234);
}

.a-banner-header {
    font-size: 20px;
}

.a-banner-link {
    color: #d57f90
}

/* ---- GENERAL ---- */

.portSec, .storySec, .fiftySec {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.port-content, .story-content, .fifty-content{
    position: relative;
    margin: 2rem;
    margin-top: 2rem;
    margin-bottom: .75rem;
    max-width: 100%;
    flex: 1;
    font-size: 1.35rem;
    font-weight: 500;
    color: #232323;
    text-align: left;
}

.port-content a, .story-content a, .fifty-content a {
    color: #7b2637;
}

/* ---- STORY ---- */

.story-content.par {
    font-size: 1.3rem;
}

.story-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.story-content.par {
    max-width: 40%;
    margin-bottom: 5rem;
}

.story-content.vid, .story-content.img .other-card {
    max-width: 50%;
    margin-bottom: 40px;
    border-radius: 5px;
}

.story-content.vid video{
    max-width: 50rem;
    margin-left: -1.5rem;
    
}

.story-content.img {
    display: none;
}

/* ---- PORTFOLIO ---- */

.port-content.img, .fifty-content.img {
    max-width: 50%;
    margin: -1rem;
    margin-bottom: -10px;
}

.port-content.par, .story-content.par, .fifty-content.par {
    margin-left: 3rem;
    margin-right: 3rem;
}


.port-header, .story-header, .fifty-head {
    text-align: left;
    font-size: 2.35rem;
    margin-bottom: 2.25rem;
}
/* ---- MOBILE DESIGN ---- */

@media screen and (max-width: 727px) {
    .tapIcon {
        display: block;
    }

    .port-content.par, .story-content.par, .fifty-content.par {
        margin-left: 1rem;
        margin-right: 1rem;
        max-width: 90%;
    }

    .port-content, .story-content, .story-content.par, .fifty-content {
        margin: 1.5rem;
        font-size: 1rem;
    }

    .fifty-content {
        margin-top: 1rem;
        margin-bottom: 3rem;
    }

    .story-content.vid {
        display: none;
    }

    .port-content.img, .fifty-content.img, .story-content.img {
        max-width: 100%;
    }

    .story-content.img{
        display: block;
        max-width: 90%;
        border-radius: 5px;
    }

    .port-header, .story-header, .fifty-head {
        text-align: center;
        font-size: 2rem;
    }

    .story-header {
        margin-top: -20px;
    }

}
