* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    margin-top: 1rem;
    margin-bottom: 10px;
}

.coverSec {
    margin-top: -10px;
}

.storySec, .portSec, .otherSec {
    width: 100%;
    height: 50%;
}

/* ---- PORTFOLIO ---- */

.portSec {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.port-content {
    position: relative;
    margin: 2rem;
    margin-top: 2rem;
    margin-bottom: .75rem;
    max-width: 100%;
    flex: 1;
    font-size: 1.3rem;
}

.port-content.img {
    margin: -1rem;
    margin-bottom: -10px;
}

.port-content.par {
    margin-left: 3rem;
    margin-right: 3rem;
}

@media screen and (max-width: 727px) {
    .port-content.par {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .port-content {
        font-size: 1rem;
    }
}
