* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    margin-top: 1rem;
    margin-bottom: 10px;
}

.coverSec {
    margin-top: -10px;
}

/* ------ STORY SECTION ------ */

.storySec, .portSec, .otherSec {
    width: 100%;
    height: 50%;
}