* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.swiper-button-next:after, .swiper-button-prev:after {
    color: #5c1c29;
}

.fifty-header {
    color: #5c1c29;
    font-size: 2rem;
    text-align: center;
    margin: 2rem 0;
}

.year__num {
    font-size: 1.5rem;
    text-align: center;
    color: #ae4e61;
    margin-top: 2rem;
}

.years_desktop {
    display: block;
    width: 100vw;
    height: 100%;
}

.years_mobile {
    display: none;
}

.year__content {
    display: flex;
    border-bottom: 1.75px solid rgb(218, 218, 218);
    padding-bottom: 2rem;
    overflow-x: auto;
    color: #232323;
}

.year__card {
    display: block;
    width: 24vw;
    height: 38rem;
    background: #F1F1F1;
    border: solid 2px #ae4e61;
    margin: 0 3.5rem;
    border-radius: 6px;
}

.year__card__img {
    width: 100%;
    height: 21rem;
    border-radius: 6px;
}

.year__card__content {
    padding: 1.25rem;
}

.year__card__content, .year__card__content p{
    margin-top: 0.75rem;
}

.year__card__content h3 {
    color: #5c1c29;
}

@media screen and (max-width: 700px){
    .years_desktop {
        display: none;
    }

    .years_mobile {
        display: block;
    }

    .mobile__content {
        display: grid;
        column-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
        padding-bottom: 1rem;
        border-bottom: 1.75px solid rgb(218, 218, 218);
    }

    .mobile__card {
        max-width: 12.5rem;
        margin: 0.5rem 0.5rem;
    }

    .mobile__card__img {
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

    .mobile_modal {
        width: 100%;
        height: 39.5rem;
        margin: 7.5rem auto;
        z-index: 10;
        border: solid 2px #ae4e61;
        border-radius: 10px;
        background: #fff;
    }

    .mobile_modal::backdrop {
        background: rgba(0, 0, 0, .3)
    }

    .mobile_modal__img__card {
        width: 92vw;
    }

    .mobile_modal__img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 10px;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
    }

    .mobile_modal__content {
        background: #fff;
        border-radius: 10px;

    }

    .mobile_modal__title {
        color: #ae4e61;
        font-size: 1.75rem;
        margin: 0.75rem 1rem;
    }

    .mobile_modal__bio {
        color: #232323;
        margin: 0 1rem;
        font-size: 0.95rem;
        width: 85%;
    }

    .mobile_modal__closeBtn {
        position: absolute;
        top: 0.5rem;
        left: 85%;
        z-index: 20;
        background: none;
        border: none;
        font-size: 1rem;
        font-weight: 600;
        color: #ae4e61;
    }
}