@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

body {
  margin: 0;
}

h2 {
  color: #5c1c29;
  font-size: 2rem;
  text-align: center;
}

hr {
  border-width: 0px;
  height: 1.5px;
  background-color:rgb(218, 218, 218);
}

a {
  font-weight: 500;
} 

.container.fixed {
  height: 575px;
}
