/* General Styling */
.port-sel-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 3rem;
    margin: 1rem 0;
}

.port-sel {
    margin: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 9px;
    font-size: 1rem;
    cursor: pointer;
    color: #232323;
    background: #F0F0F0;
    transition: background 0.3s ease;
}

.port-sel:hover {
    background: #b7b7b7;
}

.port-title {
    color: #7C2F3F;
    font-size: 1.8rem;
    margin: 2rem 1rem;
    text-align: center;
}

.port-subheader {
    color: #000;
    font-size: 1.1rem;
    font-weight: 300;
    text-align: center;
    margin: 1.5rem auto;
    max-width: 40rem;
    line-height: 1.5;
}

/* Grid Layout */
.port-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    padding: 1rem;
}

.port-card {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.port-img-wrapper {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.port-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.port-img.white {
    border: 1.75px solid #232323;
}

.port-name {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    color: #232323;
}

.port-card {
    flex-direction: column;
    
}
.port-divider {
    border: 0.5px solid #dadada;
    width: 100%;
    margin: 1rem 0;
}

/* Responsive Styling */
@media screen and (max-width: 727px) {
    .port-sel-wrapper {
        flex-wrap: wrap;
        margin: 1rem;
        justify-content: space-around;
    }

    .port-title {
        font-size: 1.5rem;
        margin: 1.5rem 1rem;
    }

    .port-subheader {
        margin: 1rem;
        padding: 0 1rem;
    }

    .port-grid {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
}